@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Lato:ital,wght@1,300&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Global Styles */

body {
    font-family: lato, sans-serif;
    font-weight: bold;
}

/* Styling our heading */

.heading {
    text-align: center;
    font-family: "Bruno Ace SC", sans-serif;
    font-size: 270%;
}

/* Styles for our logo */
.logo {
    padding-right: 10px;
    height: 40px;
    width: 40px;
}

.logo,
.heading {
    line-height: 100px;
}

/* add style to our game div */

.game {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.tournaments {
    float: left;
    width: 14%;
    height: 46vh;
    border: 2px solid black;
    overflow-y: scroll;

}

/* styles for images */
.tournaments img {
    padding: 1px 0 0 5px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.play-game {
    float: right;
    width: 85%;
    height: 46vh;
    border: 2px solid black;
    box-sizing: border-box;
}


/* Style user and score section */
.user-and-score {
    width: 100%;
    height: 6vh;
    border: 2px solid black;
}

.username {
    width: 35%;
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
}

.user-score {
    width: 65%;
    float: right;

}

/*Style for question and answer section*/

.question-answer-area {
    width: 100%;
    height: 15vh;
    border: 2px solid black;
}

.questions {
    text-align: center;
    line-height: 5vh;
}

#answer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 7vh;
}

#submit-answer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Styles for correction area */

.correction {
    width: 100%;
    height: 25vh;
}

.correct-answer {
    display: block;
    float: left;
    text-align: center;
    width: 40%;
    height: 10vh;
    border: 1px solid black;
    box-sizing: border-box;
}

.reviews {
    float: left;
    display: block;
    width: 40%;
    height: 14vh;
    border: 2px solid black;
    box-sizing: border-box;
    overflow: hidden;
}

.correct-answer-image {
    float: right;
    width: 60%;
    border: 2px solid black;
    height: 24vh;
    box-sizing: border-box;
}