@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Lato:ital,wght@1,300&display=swap');

/* Global Styles */

* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: lato, sans-serif;
    font-weight: bold;
}

/* Styling our heading */

.heading {
    line-height: 75px;
    text-align: center;
    font-family: "Bruno Ace SC", sans-serif;
    font-size: 270%;
}

/* Styles for our logo */
a {
    text-decoration: none;
}

.logo {
    padding-right: 10px;
    height: 40px;
    width: 40px;
}

/* add style to our game div */

.game {
    width: 55%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    background-color: rgb(247, 244, 244);
}

.tournaments {
    float: left;
    width: 12%;
    height: 100%;
    border: 2px solid black;
    overflow-y: auto;
    overflow-x: hidden;
}


/* styles for images */
.tournaments img {
    padding: 5px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

#hero-image {
    width: 100%;
    height: 30vh;
}

#champions-image {
    height: 20vh;
    object-fit: fit;
    overflow-x: auto;
}

#football-champions {
    width: 392px;
    height: 175px;
    object-fit: fill;
}

.play-game {
    float: right;
    width: 87%;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgb(247, 244, 244);
}


/* Style user and score section */
.user-and-score {
    width: 100%;
    height: 7vh;
    border-bottom: 2px solid black;
}

.username {
    width: 70%;
    float: left;
    box-sizing: border-box;
    padding-left: 4px;
}

.login {
    margin-left: 2%;

}

.user-score {
    width: 30%;

}

/*Style for question and answer section*/

.questions {
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    color: black;
    margin: 10px 0;
}

.question-answer-area {
    background-color: rgb(247, 244, 244);
}

#answers {
    text-align: center;

}

input {
    margin-left: 10px;

}

.submit-answer {
    display: block;
    height: 50px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: rgb(247, 244, 244);
}

/* Styles for correction area */

.correction {
    padding: 2px;
    width: 100%;
    height: 25vh;
    background-color: rgb(247, 244, 244);
}

#correction {
    font-size: 110%;
    font-weight: bold;

}

.correct-answer {
    display: block;
    float: left;
    width: 40%;
    height: 10vh;
    box-sizing: border-box;
}

.correct-answer-image {
    float: right;
    width: 60%;
    height: 24vh;
    box-sizing: border-box;
}

/* Style review area */
.reviews {
    float: left;
    display: block;
    width: 40%;
    height: 14vh;
    box-sizing: border-box;
    overflow: auto;
}

.submit-review {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style buttons */

button:hover {
    background-color: grey;
    border: 1px solid black;
    color: white;
    border-radius: 5%;

}

.login,
.signup,
.submit-answer,
.submit-review {
    padding: 0 2px;
    border-radius: 10%;
    background-color: rgb(192, 205, 215);
    color: rgb(26, 66, 76);
}

/* Adding media queries for responsiveness */

/* Media query for max screen size of 1200px */
@media screen and (max-width: 1200px) {
    .game {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .tournaments {
        float: left;
        width: 10%;
        height: 46vh;
        border: 2px solid black;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .play-game {
        float: right;
        width: 89%;
        height: 46vh;
        padding: 2px;
        box-sizing: border-box;
        background-color: rgb(247, 244, 244);
    }

}

/* Media query for screen size of 900px maximum*/
@media screen and (max-width: 900px) {
    .game {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .tournaments {
        float: left;
        width: 14%;
        height: 46vh;
        border: 2px solid black;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .play-game {
        float: right;
        width: 85%;
        height: 46vh;
        padding: 2px;
        box-sizing: border-box;
        background-color: rgb(247, 244, 244);
    }

}

/* Media query for screen size of maximum 700px */
@media screen and (max-width: 700px) {
    .game {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .tournaments {
        float: left;
        width: 14%;
        height: 46vh;
        border: 2px solid black;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .play-game {
        float: right;
        width: 85%;
        height: 46vh;
        padding: 2px;
        box-sizing: border-box;
        background-color: rgb(247, 244, 244);
    }

}

/* Media query for small screens like mobile or mini tablets */
@media screen and (max-width: 550px) {

    .logo {
        padding-right: 10px;
        height: 40px;
        width: 40px;
    }

    .logo,
    .heading {
        line-height: 40px;
        background-color: rgb(247, 244, 244);
    }

    .game {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .tournaments {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 14vh;
        overflow-y: auto;
        overflow-x: auto;
        background-color: rgb(247, 244, 244);
    }

    .tournaments>div {
        display: inline-block;
        width: 15%;
        height: 14vh;
        margin-right: 10%;
    }

    .tournaments img {
        padding: 5px;
        margin-left: auto;
        margin: 2px;
        box-sizing: border-box;
    }

    .play-game {
        display: block;
        width: 100%;
        height: 100%;
        padding: 2px;
        box-sizing: border-box;
        background-color: rgb(247, 244, 244);
    }

    .username {
        width: 40%;
        float: left;
        box-sizing: border-box;
        padding-left: 4px;
    }

    .user-score {
        width: 60%;
        float: right;
    }

    .question-answer-area {
        width: 100%;

    }

    input {
        margin-left: 5px;

    }

    .questions {
        text-align: center;
        line-height: 5vh;
    }

    .submit-answer {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        border-radius: 10%;
        background-color: rgb(192, 205, 215);
        color: rgb(26, 66, 76);
    }

}