@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Lato:ital,wght@1,300&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;

}

/* Global Styles */

body {
    font-family: lato, sans-serif;
    font-weight: bold;
}

/* Styling our heading */

.heading {
    text-align: center;
    font-family: "Bruno Ace SC", sans-serif;
    font-size: 270%;
}

/* Styles for our logo */
.logo {
    padding-right: 10px;
    height: 40px;
    width: 40px;
}

.logo,
.heading {
    line-height: 100px;
}

/* add style to our game div */

.game {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;

}

.tournaments {
    float: left;
    width: 14%;
    height: 46vh;
    border: 2px solid black;
    overflow-y: auto;
    overflow-x: hidden;

}

/* styles for images */
.tournaments img {
    padding: 1px 0 0 5px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

#champions-image {
    overflow: hidden;
}

#football-champions {
    width: 392px;
    height: 175px;
    object-fit: fill;

}

button::after {
    content: attr(data-type);
}

.play-game {
    float: right;
    width: 85%;
    height: 46vh;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: rgb(247, 244, 244);
}


/* Style user and score section */
.user-and-score {
    width: 100%;
    height: 6vh;
    border: 2px solid black;
}

.username {
    width: 70%;
    float: left;
    box-sizing: border-box;
    padding-left: 4px;

}

.login {
    display: block;
    margin-left: 25%;

}

.user-score {
    width: 30%;

}

/*Style for question and answer section*/

.question-answer-area {
    width: 100%;
    height: 15vh;
    border: 2px solid black;
}

.questions {
    text-align: center;
    line-height: 5vh;
}

#answer {
    display: block;
    border: 1px black;
    margin-left: auto;
    margin-right: auto;
    height: 4vh;
}

.submit-answer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
}

/* Styles for correction area */

.correction {
    width: 100%;
    height: 25vh;
}

#correction {
    text-align: center;
}

.correct-answer {
    display: block;
    float: left;
    text-align: center;
    width: 40%;
    height: 10vh;
    border: 1px solid black;
    box-sizing: border-box;
}

.reviews {
    float: left;
    display: block;
    width: 40%;
    height: 14vh;
    border: 2px solid black;
    box-sizing: border-box;
    overflow: auto;
}

.submit-review {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.correct-answer-image {
    float: right;
    width: 60%;
    border: 2px solid black;
    height: 24vh;
    box-sizing: border-box;
}

button:hover {
    background-color: grey;
    border: 1px solid black;
    color: white;
    border-radius: 5%;

}

.login,
.submit-answer,
.submit-review {
    padding: 0 2px;
    border-radius: 10%;
    background-color: rgb(176, 233, 242);
    color: rgb(40, 76, 85);
}

@media screen and (max-width: 1200px) {
    .game {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid black;

    }

    .tournaments {
        float: left;
        width: 14%;
        height: 46vh;
        border: 2px solid black;
        overflow-y: auto;
        overflow-x: hidden;

    }

    .play-game {
        float: right;
        width: 85%;
        height: 46vh;
        border: 2px solid black;
        box-sizing: border-box;
        background-color: rgb(247, 244, 244);
    }

}